<div class="ae-container-fluid ae-container-fluid--inner rk-main">
  <div class="ae-grid au-xs-ta-center au-mb-4">
    <div *ngFor="let person of team" class="ae-grid__item item-lg-4 ae-kappa au-mb-3">
      <img [src]="person.url" alt="" class="au-mb-3">
      <h5 class="ae -u-bolder au-mt-2">{{person.Name}}</h5>
      <p class="ae-u-bolder au-mb-3">{{person.Function}}</p>
      <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">{{person.Description}}.</p><a href="#0" class="ae-u-bolder au-underline">{{person.Twitter}}</a>
    </div>
  
  </div>
<footer class="ae-container-fluid rk-footer ">